{% extends "base.html" %}
{% block title %}Password reset | Saytaman{% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="soft-ui-card login-card mb-5">
        <h2 class="mb-4 text-center lime-accent">Reset your password</h2>
        <p class="text-center">Enter your email address and we'll send you a link to reset your password.</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-row">
                <label class="form-label">Email</label>
                <input type="email" name="email" class="form-input" required autofocus>
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-3">Send reset email</button>
        </form>
    </div>
</div>
{% endblock %}
