{% extends "base.html" %}
{% block title %}Password reset sent | Saytaman{% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="soft-ui-card login-card mb-5">
        <h2 class="mb-4 text-center lime-accent">Check your email</h2>
        <p class="text-center">If an account exists with the email provided, you'll receive an email with instructions.</p>
        <a href="{% url 'login' %}" class="btn btn-link d-block text-center">Back to login</a>
    </div>
</div>
{% endblock %}
