{% extends "base.html" %}
{% block title %}Set new password | Saytaman{% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="soft-ui-card login-card mb-5">
        <h2 class="mb-4 text-center lime-accent">Set a new password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100 mt-3">Set password</button>
        </form>
    </div>
</div>
{% endblock %}
