{% extends "base.html" %}
{% block title %}Password changed | Saytaman{% endblock %}
{% block content %}
<div class="d-flex justify-content-center align-items-center">
    <div class="soft-ui-card login-card mb-5">
        <h2 class="mb-4 text-center lime-accent">Password changed</h2>
        <p class="text-center">Your password has been changed successfully. You can now continue to the site.</p>
        <div class="mt-3 text-center">
            <a href="{% url 'home' %}" class="btn btn-primary">Continue</a>
        </div>
    </div>
</div>
{% endblock %}
