{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Add Mission" %}{% endblock %}

{% block content %}
<div class="soft-ui-banner col-md-6">
    <h3>{% trans "Add Mission" %}</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="">
            {% for field in form %}
            <div class="form-row mb-2">
                <label class="form-label">
                    {{ field.label_tag }}
                    {% if field.field.required %}
                    <span class="text-danger">*</span>
                    {% endif %}
                </label>
                {{ field }}
                {% for error in field.errors %}
                <div class="text-danger small">{{ error }}</div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <h4 class="mt-4">{% trans "Photos" %}</h4>
        {{ formset.management_form }}
        {{ formset.non_form_errors }}

        <div id="photo-formset-container">
            {% for photo_form in formset %}
            <div class="photo-form-row border p-3 mb-3 rounded">
                <p><strong>{% trans "Photo" %} #{{ forloop.counter }}</strong></p>
                {% for field in photo_form %}
                {% if field.name == 'image' %}
                <div class="mb-2">
                    <label class="form-label">{{ field.label_tag }}</label>
                    {{ field }}
                    {% for error in field.errors %}
                    <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        <button class="btn btn-primary mt-5 w-100">{% trans "Save" %}</button>
    </form>   
</div>
{% endblock %}
