{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Add Mission" %}{% endblock %}

{% block content %}
<div class="container py-4">
    <h3>{% trans "Add Mission" %}</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row">
        {% for field in form %}
            <div class="col-md-6 mb-2">
            <label class="form-label">{{ field.label_tag }}</label>
            {{ field }}
            {% for error in field.errors %}
                <div class="text-danger small">{{ error }}</div>
            {% endfor %}
            </div>
        {% endfor %}
        </div>
        <button class="btn btn-primary">{% trans "Save" %}</button>
    </form>
</div>
{% endblock %}
