{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ member.name }} - {% trans "Profile" %}{% endblock %}

{% block content %}
<div class="soft-ui-banner col-md-6">
    <h3>{% trans "Edit Member Info" %}</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="">
            {% for field in form %}
            <div class="form-row">
                <label class="form-label">{{ field.label_tag }}</label>
                {% if field.name == 'is_active' %}
                <div class="form-check form-switch my-2">
                    {{ field }}
                </div>
                {% else %}
                {{ field }}
                {% endif %}
                {% for error in field.errors %}
                <div class="text-danger small">{{ error }}</div>
                {% endfor %}
            </div>
                {% endfor %}
            </div>
        <button class="btn btn-primary mt-5 w-100">{% trans "Save" %}</button>
    </form>
</div>
{% endblock %}
